:host {
  display: flex;

  input {
    padding: 10px;
    //width: calc(100% - 64px);
    width: 30px;
    box-sizing: border-box;
    left: 60%;
    //border: 1px solid darkgrey;
    border-color: transparent;
    border-left: none;
    border-right: none;
    background-color: #f8dcca;
  }

  .modify {
    //padding: 10px;
    //border: 1px solid darkgrey;
    border-color: transparent;
    font-size: 15px;
    width: 32px;
    height: 30px;
    background-color: #f8dcca;
    cursor: pointer;
    border-radius: 0 5 0 5px;
    &.decrease {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; 
    }
    &.increase {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  .modify:hover {
    background-color: peru;
    color: white;
  }

}