<div class="container margin-30">
    <div class="card">
      <div class="card-body">       
        <form [formGroup]="form">
            <h2 class="text-center">Salad</h2>
            <div *ngFor="let item of data2">
                <label>{{item.label}}</label>
                <div class="form-control-1">
                    <img class="pizza" src="{{item.src}}" alt="salad" width="42" height="42">
                    <app-counter-input class="quantity h-100" formControlName="{{item.formControlName}}" style="width: 105px;" ></app-counter-input>
                </div>
            </div>
            <!--
            <pre class="form-values">
                {{ form.value | json }}
            </pre>
            -->
        </form>
    </div>
</div>
